@page
@{
    Layout = "_Layout";
}
@model PRN_Trial.Pages.Candidate.DeleteModel
@{
}
<h1>Delete</h1>
<div>
    <h4>CandidateProfile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CandidateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CandidateId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Fullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.ProfileShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.ProfileShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.ProfileUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.ProfileUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.PostingId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.PostingId)
        </dd>
    </dl>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Delete
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you realy want to delete this candidate?
                </div>
                <div class="modal-footer">
                    <form method="post">
                        <input type="text" name="CandidateId" asp-for="Candidate.CandidateId" hidden readonly />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                    </form>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-page="Index">Back to List</a>
