@page
@{
    Layout = "_Layout";
}
@model PRN_Trial.Pages.Candidate.DetailsModel
<h1>Details</h1>

<div>
    <h4>CandidateProfile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CandidateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CandidateId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Fullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.ProfileShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.ProfileShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.ProfileUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.ProfileUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.PostingId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.PostingId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="Edit" asp-route-id="@Model.Candidate.CandidateId" class="btn btn-primary">Edit</a>
    <span>|</span>
    <a asp-page="Index">Back to List</a>
</div>