@page
@{
    Layout = "_Layout";
}
@model PRN_Trial.Pages.Candidate.IndexModel
@{
    int activePage = (int)ViewData["activePage"];
    int pageCount = (int)ViewData["pageCount"];
    string fullName = (string)ViewData["fullName"];
    string birthDay = (string)ViewData["birthDay"];
}
<h1>View</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <table width="100%">
        <thead>
            <tr>
                <td>
                    Full name
                </td>
                <td>
                    Birth Day
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" name="fullName" value="@ViewData["fullName"]" />
                </td>
                <td>
                    <input class="form-control" type="date" name="birthDay" value="@ViewData["birthDay"]" />
                </td>
                <td><input type="submit" class="btn btn-primary px-3 form-control" style=" background: #001F75 !important;" value="Search" /></td>
            </tr>
        </thead>
    </table>
</form>
<p></p>
<table class="table" style="height:500px ; min-width:1500px">
    <thead>
        <tr>
            <th>
                CandidateId
            </th>
            <th>
                Fullname
            </th>
            <th>
                Birthday
            </th>
            <th>
                ProfileShortDescription
            </th>
            <th>
                ProfileUrl
            </th>
            <th>
                PostingId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Candidates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CandidateId)
                </td>
                <td style="max-width:201px; min-width: 200px">
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td style="max-width:350px; min-width:349px">
                    @Html.DisplayFor(modelItem => item.ProfileShortDescription)
                </td>
                <td style="max-width:201px; min-width: 200px">
                    @Html.DisplayFor(modelItem => item.ProfileUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostingId)
                </td>
                <td>
                    <a asp-page="Details" asp-route-id="@item.CandidateId" class="bi bi-info-square btn btn-primary"></a>
                    <a asp-page="Edit" asp-route-id="@item.CandidateId" class="bi bi-pencil-square btn btn-warning"></a>
                    <button type="button" class="bi bi-trash3-fill btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 style="color:red"> Do you realy want to delete this candidate?</h4>
                            <b>Candidate ID:</b> @item.CandidateId <br>
                            <b>
                                Candidate Fullname:
                            </b>@item.Fullname <br>
                            <b>
                                Birthday:
                            </b> @item.Birthday <br>
                            <b>
                                ProfileShortDescription:
                            </b> @item.ProfileShortDescription <br>
                            <b>
                                ProfileUrl:
                            </b>@item.ProfileUrl <br>
                            <b>PostingId:</b> @item.PostingId <br>

                        </div>
                        <div class="modal-footer">
                            <form method="post" asp-page="Delete">
                                <input type="text" name="CandidateId" asp-for="@item.CandidateId" hidden readonly />
                                <input type="submit" value="Delete" class="btn btn-success" />
                            </form>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>

</table>
@if (pageCount > 1)
{
    <div class="d-flex justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
                @if (activePage == 1)
                {
                    <li class="page-item disabled text-center" style="width:100px">
                        <a class="page-link border border-secondary">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item text-center" style="width:100px">
                        @{
                            var previousPage = activePage - 1;
                        }
                        <a asp-page="Index" asp-route-fullName="@fullName"
                   asp-route-birthDay="@birthDay"
                   asp-route-pageSelect="@previousPage" class="page-link btn btn-primary">Previous</a>
                    </li>
                }
                <li class="page-item text-center" style="width:100px; margin-left:10px; margin-right:10px">
                    <a class="page-link border border-primary">
                        @activePage/@pageCount
                    </a>
                </li>
                @if (activePage == pageCount)
                {
                    <li class="page-item disabled text-center" style="width:100px">
                        <a class="page-link border border-secondary">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item text-center  " style="width:100px">
                        @{
                            var nextPage = activePage + 1;
                        }
                        <a asp-page="Index" asp-route-fullName="@fullName"
                   asp-route-birthDay="@birthDay"
                   asp-route-pageSelect="@nextPage" class="page-link btn btn-primary">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}